html {
    /* overflow: hidden; */
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    /* overflow: hidden; Disable scrolling */
    background-color: #222; /* Dark grey color */
    color: #fff; /* Text color for contrast */
    flex-direction: column;
    /* min-height: 100vh; Set the minimum height of the entire page */
    min-height: 300px;
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

main {
    font-family: monospace;
    flex: 1; /* Allow main content to take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds viewport height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    /* touch-action: pan-x; Allow only horizontal panning */
}

.logo_top_right{
    position: absolute;
    opacity: 20%;
    top: 250px; /* Adjust this value to push the logo down */
    right: 10px;
    padding: 10px; /* Add padding around the logo */
    z-index: 2; /* Ensure the logo is above the content */
    width: 200px;
    height: auto;
    /* Rotate the logo by 90 degrees clockwise */
    transform: rotate(90deg);
    transform-origin: top right; /* Rotate around the center */
    
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    position: fixed; /* Use fixed positioning */
    bottom: 0;
    left: 0; /* Anchor it to the left */
    right: 0; /* Anchor it to the right */
    z-index: 1;
}


.social-icon {
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    color: #FFF; /* Change to the desired color */
    text-decoration: none;
    line-height: 1; /* Adjust line height for better alignment */
}

.social-icon:hover {
    color: #007bff; /* Change to the desired hover color */
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 25px;
}

/* style.css */
#3d-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 100%;
    /* height: 100vh; */
    /* height: 300px; */
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30vh; Make sure the container takes the full viewport height */
}

/* Center the content within each section */
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center */
    justify-content: center; /* Vertically center */
    height: 100%; /* Ensure the content takes up the full section height */
    text-align: center; /* Center text within content */
    padding: 30px;
}


/* terminal prompt stuff */
.terminal {
    color: white;
    font-family: monospace;
    padding: 20px;
    overflow-y: auto;
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.prompt {
    display: inline-block;
}

.user {
    color: #00ff00; /* Green color for the user */
}

.directory {
    color: #00aaff; /* Blue color for the directory */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.typed-text {
    /* Your existing styles */
    /* ... */

    /* Terminal-like styles */
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    color: #00FF00; /* Green text color */
    font-family: "Courier New", monospace; /* Monospace font */
    font-size: 16px; /* Font size */
    outline: none; /* Remove focus outline */
    width: 100%; /* Full width */
    
}

.cursor {
    /* Your existing styles */
    /* ... */

    /* Customize cursor appearance */
    border-left: 10px solid; /* Green vertical line */
    animation: blink 0.7s infinite; /* Blink animation */
    width: 2px; /* Adjust cursor width */
    color: transparent;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .logo_top_right {
        display: none; /* Hide the logo on small screens */
    }
    .main {
        overflow-y: scroll;

    }

    .social-icons {
        gap: 15px;
    }

    /* .container-wrapper {
        /* height: 40vh; Adjust the height as needed */
    /* } */ 

    .section-content {
        padding: 20px; /* Add some padding to the content */
    }

    .response {
        max-width: 80%; /* Limit response width to the viewport width */
        white-space: pre-wrap; /* Allow automatic wrapping */

    }

    /* Adjust other styles as needed for responsiveness */
}

.typing-buttons-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.typing-button {
    width: 150px; /* Set a consistent width */
    height: 40px; /* Set a consistent height */
    font-family: monospace;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.typing-button:hover {
    background-color: #0056b3;
}

